# Common files
*.backup
*disabled

# Ignore Confluent Cloud API Keys
api-key.txt

# Terraform
terraform/terraform.tfvars
terraform/files
terraform/*.tfstate
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/aws-remote-tfstate-s3.tf
terraform/terraform.tfstate.backup
terraform/generated
